{% extends 'blog/layout/base.html' %}

{% load blog_tags %}

{% block content %}

<div class="container">
    <div class="row">


        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="page-wrapper mt-4">
                <div class="blog-grid-system">
                    <div class="row">

                        {% for post in posts %}
                        <div class="col-md-6">
                            <div class="blog-box">
                                <div class="post-media">
                                    <a href="tech-single.html" title="">
                                        <img src="{{ post.image.url }}"
                                            style="width: '100%';height: 220px;object-fit: cover;" alt=""
                                            class="img-fluid">
                                        <div class="hovereffect">
                                            <span></span>
                                        </div><!-- end hover -->
                                    </a>
                                </div><!-- end media -->
                                <div class="blog-meta big-meta">
                                    <div class="row-wrap flex-start">

                                        {% for tag in post.tags.all %}
                                        <span class="color-orange m-1">
                                            <a href="{% url 'blog:post_list_by_tag' tag.slug %}" title="">
                                                {{tag.name}}
                                            </a>
                                        </span>
                                        {% endfor %}
                                    </div>

                                    <h4><a href="{{ post.get_absolute_url }}" title="">{{post.title}}</a></h4>
                                    <p>{{post.summary}}</p>
                                    <small><a href="tech-single.html" title="">{{post.created_at}}</a></small>
                                    <small><a href="tech-author.html" title="">{{post.author}}</a></small>
                                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i>{{post.views}}</a></small>
                                </div><!-- end meta -->
                            </div><!-- end blog-box -->
                        </div><!-- end col -->
                        {% endfor %}


                    </div><!-- end row -->

                    {% include "blog/pagination.html" with page=posts %}

                </div><!-- end blog-grid-system -->
            </div><!-- end page-wrapper -->

            <hr class="invis3">

            
        </div><!-- end col -->

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="sidebar">
                <div class="widget">
                    <div class="banner-spot clearfix">
                        <div class="banner-img">
                            <img src="upload/banner_07.jpg" alt="" class="img-fluid">
                        </div><!-- end banner-img -->
                    </div><!-- end banner -->
                </div><!-- end widget -->

             
                {% show_latest_posts 3 %}


                <div class="widget">
                    <h2 class="widget-title">Bình luận nhiều nhất</h2>
                    <div class="blog-list-widget">
                        {% get_most_commented_posts as most_commented_posts %}

                        <div class="list-group">
                            {% for post in most_commented_posts %}
                            <a href="{{ post.get_absolute_url }}"
                                class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="w-100 justify-content-between">
                                    <img src="upload/tech_blog_02.jpg" alt="" class="img-fluid float-left">
                                    <h5 class="mb-1"> {{forloop.counter}} {{post.title}}</h5>

                                </div>
                            </a>
                            {% endfor %}

                        </div>
                    </div><!-- end blog-list -->
                </div><!-- end widget -->

                

                <div class="widget">
                    <div class="banner-spot clearfix">
                        <div class="banner-img">
                            <img src="upload/banner_03.jpg" alt="" class="img-fluid">
                        </div><!-- end banner-img -->
                    </div><!-- end banner -->
                </div><!-- end widget -->
            </div><!-- end sidebar -->
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end container -->


{% endblock %}