
{% load static %}

<header class="tech-header header">
    <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/blog">
                <img
                    src=" {% static 'blog/images/version/logo1.png' %}" alt=""
                    style="width: 100px;"
                >
            </a>
            <div class="collapse navbar-collapse" id="navbarCollapse">

                    

                <ul class="navbar-nav mr-auto">

                    {% for cat in category %}
                        <div class="dropdown">
                            <button class="dropbtn">{{cat.title}}</button>
                            <div class="dropdown-content">
                                {% for ct in cat.category_type.all %}
                                  <a href="{% url 'blog:post_list_by_category_type' ct.slug %}">{{ct.title}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
            
                </ul>
                <ul class="navbar-nav mr-2">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:post_feed' %}"><i class="fa fa-rss"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-android"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-apple"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div><!-- end container-fluid -->
</header><!-- end market-header -->